<?xml version="1.0"?>

<model>
  <name>rail_wheel</name>
  <version>1.0</version>
  <sdf version="1.5">rail_wheel.sdf</sdf>

 <!--  <author>
    <name>Optional: YOUR NAME</name>
    <email>Optional: YOUR EMAIL</email>
  </author> -->

  <description>
    Rail wheel model.
  </description>

</model>
