<?xml version="1.0"?>

<model>
  <name>mecanum_wheel_right</name>
  <version>1.0</version>
  <sdf version="1.5">mecanum_wheel_right.sdf</sdf>

<!--   <author>
    <name>Optional: YOUR NAME</name>
    <email>Optional: YOUR EMAIL</email>
  </author> -->

  <description>
    Mecanum wheel model.
  </description>

</model>